<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <a href="users/login">로그인</a>
    <a href="users/logout">로그아웃</a>
    <a href="users/sign_up">회원가입</a>
    <a href="users/update">회원수정</a>
    <a href="users/inbody">인바디 입력</a>
    <a href="error.ejs">인바디 입력</a>
    


  </body>
</html>
