<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>


    <form action="/users/delete" method="post">
        <td><input type="text" name="password">비밀번호 확인</td>
        <td><input type="submit" value="회원탈퇴"></td>
    </form>


</body>
</html>        

