<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h3>인바디</h3>

<form action="/users/inbody" method="post">
    <table>
        <tr>
            <td>성년월일 : </td>
            <td><input type="date" name="birth"></td>
        </tr>
        <tr>
            <td>성별 : </td>
            <td><input type="text" name="gender"></td>
        </tr>

        <tr>
            <td>키 : </td>
            <td><input type="text" name="height"></td>
        </tr>
        <tr>
            <td>몸무게 : </td>
            <td><input type="text" name="weight"></td>
        </tr>
        <tr>
            <td>골격근량 : </td>
            <td><input type="text" name="muscle"></td>
        </tr>
        <tr>
            <td>체지방률 : </td>
            <td><input type="text" name="fat"></td>
        </tr>
            
        <tr>
            <td><input type="submit" value="인바디 등록"></td>
        </tr>
    </table>
</form>
</body>
</html>