<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h3>인바디</h3>

        <tr>
            <td>인바디유형 : </td>
            <td><input type="text" value="<%= inbody_type %>" readonly></td>
        </tr>
        
           
      
    </table>
</form>
</body>
</html>